/* custom CSS for BOOTSTRAP*/
// Default variable overrides
@import "../../node_modules/bootstrap/scss/bootstrap";

$body-bg:  #ead1d2;
$body-color: #111;

header{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    color: #5b2b41;
}

article{
    margin: 1% 0 1% 0;
}
.custom-size{
    max-width: 100%;
    width: 1000px;  
}


.dashedDivider {
    border-top: 2px dashed #5b2b41;
}

.custom-font-color{
    color: #5b2b41;
}